{% extends 'base.html' %}

{% block title %}Zerowanie hasla{% endblock %}

{% block content %}
    <h1>Zerowanie hasla</h1>
    {% if validlink %}
        <p>Dwukrotnie podaj nowe haslo: </p>
        <form action="." method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <p>
            <input type="submit" value="Zmien haslo">
        </p>
        </form>
    {% else %}
        <p>Lacze pozwalajace na wyzerowanie hasla jest nieprawidlowe, poniewaz prawdopodbnie zostalo juz wczesniej
        uzyte. Musisz ponownie rozpoczac procedure zerowania hasla</p>
    {% endif %}
{% endblock %}